<h2>Student Registration</h2>

<form #studentRegistrationForm="ngForm" (ngSubmit)="onSubmit()" class="grid-container">
  <div id="franchise-information">
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label for="franchisee">Franchisee
          <input type="text" name="franchisee" [(ngModel)]="model.details.franchisee" disabled="disabled">
        </label>
      </div>

      <div class="medium-6 cell">
        <label for="locaiton">Location
          <input type="text" name="location" [(ngModel)]="model.details.location" disabled="disabled">
        </label>
      </div>
    </div>
  </div>

  <div id="office-use-only">
    <h3>For Office Use Only</h3>
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <label for="studentRegistrationNumber"><small>STUDENT REGISTRATION #</small>
          <input type="text" name="studentRegistrationNumber" [(ngModel)]="model.details.studentRegistrationNumber" required/>
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label for="batchCode">Batch Code
          <input type="text" name="batchCode" [(ngModel)]="model.details.batchCode" placeholder="" />
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="courseInstructor">Course Instructor
          <input type="text" name="courseInstructor" [(ngModel)]="model.details.courseInstructor" placeholder="" />
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-3 cell">
        <label for="batchDays">Batch Days
          <input type="text" name="batchDays" [(ngModel)]="model.details.batchDays" placeholder="Enter batch days" />
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="batchTimings">Batch Timings
          <input type="text" name="batchTimings" [(ngModel)]="model.details.batchTimings" placeholder="Enter the batch timings" />
        </label>
      </div>
    </div>
  </div>

  <div id="child-details">
    <h3>Details of the Child</h3>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label for="firstName">First Name
          <input type="text" name="firstName" [(ngModel)]="model.firstName" placeholder="Student's First Name">
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="lastName">Last Name
          <input name="lastName" name="lastName" type="text" [(ngModel)]="model.lastName" placeholder="Student's Last Name">
        </label>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <label for="dateOfBirth">Date of Birth
          <input name="dateOfBirth" type="date" [(ngModel)]="model.dateOfBirth" placeholder="e.g 09/27/2010"/>
        </label>
      </div>
      <div class="medium-offset-3 cell"></div>
      <div class="medium-3 cell">
        <label for="gender">Gender
          <select name="gender" [(ngModel)]="model.gender">
            <option *ngFor="let gender of genderOptions" [value]="gender">{{gender}}</option>
          </select>
        </label>
      </div>

      <div class="medium-2 cell">
        <label for="studyingInGrade">Studying In Grade
          <input name="studyingInGrade" type="number" [(ngModel)]="model.studyingInGrade" placeholder="Input Grade Number" />
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <label for="address">Address
          <input name="address" type="text" [(ngModel)]="model.contactInfo.address" placeholder="Enter student's home street address">
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-9 cell">
        <label for="city">City
          <input name="city" type="text" [(ngModel)]="model.contactInfo.city" placeholder="Enter student's city">
        </label>
      </div>
      <div class="medium-offset-1 cell"></div>
      <div class="medium-2 cell">
        <label for="province">Province
          <select [(ngModel)]="model.contactInfo.province" name="province">
            <option value="AB">Alberta</option>
            <option value="BC">British Columbia</option>
            <option value="MB">Manitoba</option>
            <option value="NB">New Brunswick</option>
            <option value="NL">Newfoundland and Labrador</option>
            <option value="NS">Nova Scotia</option>
            <option value="ON">Ontario</option>
            <option value="PE">Prince Edward Island</option>
            <option value="QC">Quebec</option>
            <option value="SK">Saskatchewan</option>
            <option value="NT">Northwest Territories</option>
            <option value="NU">Nunavut</option>
            <option value="YT">Yukon</option>
          </select>
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <label for="postalCode">Postal Code
          <input name="postalCode" [(ngModel)]="model.contactInfo.postalCode" type="text" placeholder="Enter student's Postal Code">
        </label>
      </div>

      <div class="medium-2-offset cell"></div>

      <div class="medium-6 cell">
        <label for="phoneNumber">Phone # (Home)
          <input type="tel" name="phoneNumber" [(ngModel)]="model.contactInfo.phoneNumber" placeholder="Enter student's Home Phone Number">
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <label for="schoolName">Name of the School
          <input type="text" name="schoolName" [(ngModel)]="model.contactInfo.schoolname" placeholder="Enter the name of the school the student attends">
        </label>
      </div>
    </div>
  </div>

  <div id="details-of-parents">
    <h3>Details of Parents</h3>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label for="preferredDays">Mother's Name
          <input type="text" name="mothersName" [(ngModel)]="model.parents[0].fullName">
        </label>
      </div>

      <div class="medium-6 cell">
        <label for="preferredDays">Father's Name
          <input type="text" name="fathersName" [(ngModel)]="model.parents[1].fullName">
        </label>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-2 cell">
        <label for="preferredDays">Mother's Cell #:
          <input type="text" name="mothersPhoneNumber" [(ngModel)]="model.parents[0].phoneNumber">
        </label>
      </div>

      <div class="medium-2 cell">
        <label for="preferredDays">Father's Cell #;
          <input type="text" name="fathersPhoneNumber" [(ngModel)]="model.parents[1].phoneNumber">
        </label>
      </div>

      <div class="medium-8 cell">
        <label for="email">Email
          <input type="text" name="familyEmail" [ngModel]="familyEmail" (ngModelChange)="model.parents[0].email = model.parents[1].email = $event" />
        </label>
          <h3>{{familyEmail.name}}</h3>
      </div>
    </div>
  </div>

  <div id="general-details">
    <h3>General Details</h3>
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <label for="directedFrom" >How did you hear about UCMAS?
          <fieldset>
            <legend>Select all that apply</legend>
            <div class="checkbox-group" *ngFor="let key of model.directedFrom | keys">
              <input [checked]="model.directedFrom[key]" (change)="model.directedFrom[key] = !model.directedFrom[key]" name="{{key}}" type="checkbox" />
              <label>{{studentHeardFromOptions[key]}}</label>
            </div>
          </fieldset>
        </label>
      </div>
    </div>
    

    <div class="grid-x grid-margin-x">
      <div class="medium-8 cell">
        <label for="preferredDays">Preferred Days
          <fieldset>
            <div class="radio-btn-group" *ngFor="let preferredDay of preferredDays">
              <input name="preferredDays" type="radio" [checked]="model.preferences.preferredDays === preferredDay" (change)="model.preferences.preferredDays = preferredDay" />
              <label for="radio1">{{preferredDay}}</label>
            </div>
          </fieldset>
        </label>
      </div>

      <div class="medium-4 cell">
        <label for="preferred-timings">Preferred Timings
          <input type="text" ([ngModel])="model.preferences.preferredTimings" placeholder="Enter preferred time of day"/>
        </label>
      </div>
    </div>
  </div>

  <div id="medical-details">
    <h3>Medical Details</h3>

    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label for="healthCardNumber">Health Card Number
          <input type="text" name="healthCardNumber" ([ngModel])="model.medicalDetails.healthCardNumber" placeholder="Enter health card number"/>
        </label>
      </div>
      
      <div class="medium-12 cell">
        <label for="specialMedicalInstructions">If your child has any special conditions/Allergies/Medication, please provide details
          <input type="text" ([ngModel])="model.medicalDetails.specialMedicalInstructions" placeholder="Enter medical details">
        </label>
      </div>
    </div>
  </div>

  <button type="submit" >Submit</button>
</form>
