<header>
  <div class="top-bar">
      <div class="top-bar-left">
        <h3><a href="/">UCMAS Administrative Centre</a></h3>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/students">Students</a></li>
        </ul>
      </div>
  </div>
</header>

<div id="app-content">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell">
      <h5>UCMAS Administrative Centre &copy;{{year}}</h5>
    </div>
    <div class="medium-6 cell">
      <ul class="menu vertical">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/students">Students</a></li>
      </ul>
    </div>
  </div>
</footer>

